.MuiTab-root {
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 16px!important;
  text-align: center !important;
  letter-spacing: 0.02em !important;
}
